* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    /*
    background-color: #f5f7fb;
    color: #1f2937;
    */

    background: #20002c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    max-width: 500px;
    max-height: 400px;
}

.form-card {
    /*background-color: #ffffff;*/

    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.form-card h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 8px;
    color: #800080;
}

.sub-title {
    text-align: center;
    color: #6b7280;
    margin-bottom: 25px;
}

.form-tabs {
    display: flex;
    border-bottom: 1px solid #e5e7eb;
    margin-bottom: 25px;
}

.tab-btn {
    flex: 1;
    padding: 12px;
    border: none;
    background: transparent;
    color: #6b7280;
    font-size: 1rem;
    cursor: pointer;
}

.tab-btn.active {
    color: #9e209e;
    border-bottom: 2px solid #9e209e;
    font-weight: 600;
}

.form-group {
    margin-bottom: 5px;
}

.form-group label {
    color: #808080;
    display: block;
    margin-bottom: 7px;
    font-size: 0.9rem;
    font-weight: 600;
}

.form-group input {
    width: 100%;
    padding: 12px 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s ease,
                box-shadow 0.2s ease;
}

.form-group input:focus {
    border-color: #9e209e;
    box-shadow:
        0 0 0 3px rgba(37, 99, 235, 0.1);
}

.error {
    display: block;
    color: #dc2626;
    font-size: 0.8rem;
    margin-top: 5px;
    min-height: 16px;
}

.submit-btn {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 8px;
    background-color: #9e209e;
    color: #3f3c3c;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.submit-btn:hover {
    background-color: #1d4ed8;
    color: #ffffff;
}

.hidden {
    display: none;
}
